html, body {
  padding: 16px;
  font-family: 'trebuchet ms', verdana, arial;
}

.mermaid {
  /* font-family: 'trebuchet ms', verdana, arial; */
}
.marketing-links {
  font-size: 16px;
}

.ant-card {
  margin-bottom: 5px;
}

.ant-col-8 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
.ant-col-16 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
.ant-input{
  background:#C7EDCC;
}
.ant-card-head {
  min-height: 40px;
  padding: 0px 10px;
}
.ant-card-head-title{
  padding: 8px 0;
}
.ant-card-body{
  padding: 5px;
}
i {
  font-size: 11px;
}


