html, body {
  padding: 16px;
  font-family: 'trebuchet ms', verdana, arial;
}

.mermaid {
  /* font-family: 'trebuchet ms', verdana, arial; */
}
.marketing-links {
  font-size: 16px;
}

.ant-card {
  margin-bottom: 16px;
}

.ant-col-8 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
.ant-col-16 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}

i {
  font-size: 11px;
}
